---
---
<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{ site.author }} / {{ site.tagline }}</title>
	<meta name="author" content="{{ site.author }}">
	<meta name="description" content="{{ site.description }}">
	<meta name="keywords" content="{{ site.keywords }}">
	{% include head.html %}
</head>
<body>
	<!-- {% include header.html %} -->
	<main class="content">
		<section class="intro">
			<div class="container">
				<!-- <h2>About me.</h2> -->
				<img src="{{ "/assets/images/howdoyouseeyourself.svg" | prepend: site.baseurl }}" alt="how do you see yourself?" />
				<!-- <p>{{ site.description }}</p> -->
			</div>
		</section>
		<section class="projects">
			<div class="container">
				<!-- <h2>Projects I have worked on.</h2> -->
				<ul class="projects-list">
					{% for item in site.categories.projects reversed %}
						<li class="project-li">
							<a class="read" id="{{ item.project.cookie }}" href="{{ item.url | prepend: site.baseurl }}">
								<div class="img-wrapper" id="{{ item.project.cookie | append: "wrapper" }}">
									<!-- programmatically add 'read' or 'unread' image here  -->
								</div>
							</a>
						</li>
					{% endfor %}
				</ul>
			</div>
		</section>
		<div class="reset-button">
			<button align="center" id="cookieClear" type="button" class="btn btn-outline-secondary btn-lg" style="display: block; margin: 0 auto;">Reset</button>
		</div>
	</main>
	{% include footer.html %}
	<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="{{ "assets/scripts/vendor/scrollreveal.min.js" | prepend: site.baseurl }}"></script>
	<script src="{{ "assets/scripts/home.js" | prepend: site.baseurl }}"></script>
	<script>

		// get all project links
		var links = document.querySelectorAll('a.read');

		// add event listeners to all projects
		for (var i = 0; i < links.length; i++) {
		    var link = links[i];
		    link.addEventListener('click', cookieOnClick, false);
			link.cookieName = link.id;
		};

		// add cookies when project links are clicked
		function cookieOnClick(event) {
			// event.preventDefault();
			Cookies.set(event.target.parentElement.cookieName, true);
	    	event.stopPropagation();
		};

		// clear all cookies when cookie clear is clicked
		document.querySelector("#cookieClear").onclick = function (event) {
			var currentCookies = Cookies.get();
			console.log(currentCookies);
			for (var name in currentCookies) {
				Cookies.remove(name);
			}
			location.reload();
		};

		// if cookie does not exist, show unread photo
		// if cookie does exist, show read photo
		$(document).ready(function() {
			for (var i = 0; i < links.length; i++) {
			    var link = links[i];
				console.log(Cookies.get(link.cookieName));
                // clear project img wrapper div beforehand
				$("#" + link.cookieName + "wrapper").empty();
			    if (Cookies.get(link.cookieName)) {
						$("#" + link.cookieName + "wrapper").append("<img src='assets/images/projects/" + link.cookieName + "/" + link.cookieName + "-read.png' alt='" + link.cookieName + " read' />");
					} else {
						$("#" + link.cookieName + "wrapper").append("<img src='assets/images/projects/" + link.cookieName + "/" + link.cookieName + "-unread.png' alt='" + link.cookieName + " unread' />");
					}
			};
    });

	</script>
</body>
</html>
