<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="robots" content="index,follow">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="apple-touch-icon" sizes="180x180" href="{{ "/almond.svg" | prepend: site.baseurl }}">
<link rel="shortcut icon" type="image/x-icon" href="{{ "/almond.ico" | prepend: site.baseurl }}">
<link rel="manifest" href="manifest.json">
<link rel="mask-icon" href="{{ "/almond.svg" | prepend: site.baseurl }}" color="#5bbad5">
<meta name="theme-color" content="#ffffff">

<!-- bootstrap -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css">
<!-- google fonts -->
<link href="https://fonts.googleapis.com/css?family=Poppins|Lekton:400,700|Muli|Merriweather" rel="stylesheet">

<!-- google analytics -->
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-125086399-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-125086399-1');
</script>
