/* Fonts
 ****************************************************************/

$font-default: Helvetica, Arial, sans-serif;
$font-poppins: 'Poppins', $font-default;
$font-lekton: 'Lekton', $font-default;

/* Colors
 ****************************************************************/

$color-white: #fff;
$color-black: #000;
$color-silver-chalice: #aaa;
$color-gray: #8c8c8c;
$color-cool-gray: #7c9394;
$color-dark-gray: #4c4c4c;
$color-alabaster: #fafafa;
$color-tango: #f46f25;
$color-white-sand: #f6f6f6;
$color-teal: #2EC4BB;
$color-dark-teal: #1b7570;
$color-dark-purple: #5c1660;
$color-light-yellow: #fff6bd;
$color-yellow: #ffef8a;

/* Breakpoint
 ****************************************************************/

$breakpoint-xsmall: 400px;
$breakpoint-small: 550px;
$breakpoint-medium: 750px;
$breakpoint-large: 1000px;
$breakpoint-xlarge: 1200px;
