<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{ page.project.title }}</title>
	<meta name="author" content="{{ site.author }}">
	<meta name="description" content="{{ page.title }}">
	<meta name="keywords" content="{{ page.meta.keywords }}">
	{% include head.html %}
</head>
<body>
	<!-- {% include header.html %} -->
	<main class="content">
		<section class="intro">
			<div class="project-container">
				<a href="{{ site.baseurl | append: "/" }}">
					<img class="img-center" src="{{ "assets/images/howdoyouseeyourself.svg" | prepend: site.baseurl }}" alt="how do you see yourself?" />
				</a>
			</div>
		</section>
		<section class="project">
			<div class="container">
					<p class="h2-quote">"{{ page.quote }}"</p>
					<img class="first" src="{{ page.project.unread | prepend: "../" }}" alt="{{ page.project.title | append: " unread" }}" />
					{{ page.content }}
				<div>
					<img class="second" src="{{ page.project.read | prepend: "../" }}" alt="{{ page.project.title | append: " read" }}" />
					{{ page.bio }}
				<div>
			</div>
		</section>
		<section class="project-navigation">
			<div class="container">
				{% if page.previous and page.previous.categories contains "projects" %}
				<a title="Previous {{ page.previous.project.title }}" href="{{ page.previous.url | prepend: site.baseurl }}" class="prev">
					<span class="h2-white">Previous</span>
					<h2 class="h2-white">{{ page.previous.project.title }}</h2>
				</a>
				{% endif %}
				{% if page.next and page.next.categories contains "projects" %}
				<a title="Next {{ page.next.project.title }}" href="{{ page.next.url | prepend: site.baseurl }}" class="next">
					<span class="h2-white">Next</span>
					<h2 class="h2-white">{{ page.next.project.title }}</h2>
				</a>
				{% endif %}
			</div>
		</section>
	</main>
	{% include footer.html %}
	<script src="{{ "../assets/scripts/vendor/jquery-1.12.4.min.js" | prepend: site.baseurl }}"></script>
	<script src="{{ "../assets/scripts/vendor/scrollreveal.min.js" | prepend: site.baseurl }}"></script>
	<script src="{{ "../assets/scripts/vendor/sticky-kit.min.js" | prepend: site.baseurl }}"></script>
	<script src="{{ "../assets/scripts/project.js" | prepend: site.baseurl }}"></script>
</body>
</html>
